/* .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .modal-contentedit {
    position: relative;
    width: 50% !important;
     max-height: 800px;
    padding: 16px;
    vertical-align: middle;
    overflow: auto;
    background-color: #fff;
    border-radius: 4px;
  } */

  /* .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 8px 8px 0 0;
    cursor: pointer;
  }
  .modal-close::hover {
    color: gray;
  }  */ 